@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
/*common styles*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

/*Body Styles*/
body {
    --txt-color: white;
    --logo-color: #f46410;
    --body-color: rgba(31, 31, 31, 0.98);
    /*------------------------*/
    font-family: 'Roboto', 'Anton', 'Righteous', 'Poppins', sans-serif, -apple-system;
    background: var(--body-color);
}

/*html styles*/
html {
    scroll-behavior: smooth;
}

/*header styles*/
header {
    width: 100%;
    height:100%;
    background-color: var(--body-color);
    top: 20px;
    left: 20px;
    border-bottom: 2px solid #807a79;
    z-index: 3;
}

.nav-bar {
    width: 90%;
    margin: auto;
    /* position: fixed;                   !*--------navigation links are fixed------------*!
     display: flex;                    !*--------display all items in one row------------*!
     flex-direction: row;             !*--------flex direction is row------------*!
     justify-content: space-between;  !*--------want to have space between content------------*!
     align-items: center;
     width: 100%;
     padding:5px;
     background: transparent;
     transition:all .5s ease;
     overflow: hidden;*/

}

nav {
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-toggle .menu {
    font-size: 20px;
    color: white;
    cursor: pointer;
    transition: 0.3s all  linear;

}

/*I wanto rotate these icons to -45 deg*/
.nav-toggle .menu .fa-bars:hover{
    transform:scale(0.8) rotate(-45deg);
}
/*Add toggle dynamic*/
.nav-toggle .close {
    display: none;
}
/*Time to add styles for nav bar*/
.menu-bar{
    height: 0%;
    overflow: hidden;
    transition:all 0.7s linear;
}
.menu-items{
    list-style-type: none;
}

.nav-bar li{
    padding:10px;
    text-align: center;
}
/*Time to style the menue links which are in anchor tags*/
.nav-bar li a{
    font-weight: bold;
    font-size: medium;
    color: #ffffff;
    cursor: pointer;
}
/*Lets add space between menue items*/
.menu-items li a:hover{
    color: var(--logo-color);
 }
/*Lets add social link styles*/
.menu-bar .social-icons{
    text-align: center;
    justify-content: space-between;
}
.menu-bar .social-icons a{
    text-decoration: none;
}

.menu-bar .social-icons .fa-brands{
    margin: 35px 20px;
    font-size: 30px;
    color: var(--logo-color);
    -webkit-transition:  0.3s all ease-in-out;
    -o-transition:  0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;

}

.menu-bar .social-icons .fa-brands:hover{
    color: var(--logo-color);
}
.resume{
    display: inline-block;
    background-size: auto;
    padding: 10px 10px;
    cursor: pointer;
    text-decoration: none;
    text-transform:uppercase;
    color:var(--logo-color);
    border: 1px solid var(--logo-color);
    transition: all 0.3s ease-in-out;
}

.resume:hover{
    color:var(--body-color);
    background-color: var(--logo-color);
    transform: scale(1.1);

}

@media screen and (min-width: 1024px){
    header{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav-bar{
        max-width: 1170px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .menu-bar{
        height:auto !important;
    }
    ul.menu-items{
        display: flex;
        height:auto;
    }
    ul.menu-items li{
        padding: 0;
        width: 100px;
    }
    .social-icons{
        display:none;
    }
    .resume{
        display: block;
    }
    .nav-toggle{
        display: none;
    }


}