@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap");
@import url(https://fonts.googleapis.com/css?family=Exo:100);
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');



/*------------------------------------------------------------------------------*/
/*common styles*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .2s cubic-bezier(.34,1.12,.68,1.31);
}

/*:root {
    --boxSize: 1em;
    --speed: 18s;
    --rotateSceneX: -0deg;
    --rotateSceneY: 0deg;
}*/

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

/*Body Styles*/
body {
    --txt-color: white;
    --logo-color: rgba(236, 105, 27, 0.94);
    --body-color: rgba(31, 31, 31, 0.98);
    /*------------------------*/
    font-family: 'Roboto', 'Anton', 'Righteous', 'Poppins', sans-serif, -apple-system;
    /*background: var(--body-color);*/
    margin: 0;
    width: 100%;
    height: 100%;
    /*background animations*/
    color: #999;

    /* img size is 50x50 */
    background: url("../images/blackbg.jpg") repeat 10px 10px;
    background-color: rgba(31, 31, 31, 0.98);

    -webkit-animation: bg-scrolling-reverse 10s infinite;
    /* Safari 4+ */
    -moz-animation: bg-scrolling-reverse 10s infinite;
    /* Fx 5+ */
    -o-animation: bg-scrolling-reverse 10s infinite;
    /* Opera 12+ */
    animation: bg-scrolling-reverse 10s infinite;
    /* IE 10+ */
    -webkit-animation-timing-function:linear ;
    -moz-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear;

}
body::before {
    font-size: 8rem;
    font-weight: 100;
    font-style: normal;
}
@-webkit-keyframes bg-scrolling-reverse {
    50% {
        background-position: 50px 50px;
    }
}
@-moz-keyframes bg-scrolling-reverse {
    50% {
        background-position: 50px 50px;
    }
}
@-o-keyframes bg-scrolling-reverse {
    50% {
        background-position: 50px 50px;
    }
}
@keyframes bg-scrolling-reverse {
    50% {
        background-position: 50px 50px;
    }
}
@-webkit-keyframes bg-scrolling {
    0% {
        background-position: 50px 50px;
    }
}
@-moz-keyframes bg-scrolling {
    0% {
        background-position: 50px 50px;
    }
}
@-o-keyframes bg-scrolling {
    0% {
        background-position: 50px 50px;
    }
}
@keyframes bg-scrolling {
    0% {
        background-position: 50px 50px;
    }
}

/*html styles*/
html {
    scroll-behavior: smooth;

}


/*header styles*/
header {
    width: 100%;
    height: 60px;
    background-color: var(--body-color);
    top: 0px;
    margin:0;
    bottom:0;
    border-bottom: 2px solid #807a79;
    position: fixed;
    z-index: 5;
}
.div .bounce{
    float: left;
    left:0px;
    position: absolute;
    align-items: center;

    top:7px;
    bottom:7px;
    margin: 10px 0 10px 20px;
}

.div .bounce i{
    width:40px;
    height:40px;
}

.nav-bar {
    width: 90%;
    margin: 0;


    align-items: center;
    width: 100%;
    padding:5px;
    background: transparent;
    transition:all .5s ease;
   overflow: hidden;

}

nav {
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-toggle i {
    font-size: 20px;
    color: white;
    cursor: pointer;
    float: right;
    left: 1200px;
    position: relative;
    transition: 0.3s  linear;

}

/* rotate these icons to -45 deg*/
.nav-toggle .menu:hover {
    transform: scale(0.8) rotate(-45deg);
}

/*Add toggle dynamic*/
.nav-toggle .close {
    display: none;
    font-size: 20px;
    color: white;
    cursor: pointer;
    float: right;
    left: 1200px;
    position: relative;
    transition: 0.3s  linear;
}

/*Time to add styles for nav bar*/
.menu-bar {
    height: 0%;
    overflow: hidden;
    transition: all 0.7s linear;
}

.home .container{
    margin-top:100px;
    padding:0;
}

.menu-items {
    list-style: none;

}

.nav-bar li {
    text-align: center;
}

/*Time to style the menu links which are in anchor tags*/
.nav-bar li a {
    font-weight: 300;
    font-size: 20px;
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
    font-family: 'Poppins',sans-serif;
    position: fixed;
    text-align: center;
    align-items: center;
    top: 15px;
    bottom: 10px;
    overflow: hidden;

}

/*Lets add space between menue items*/
.menu-items li a:hover {
    color: var(--logo-color);
}
.menu-items .active{
    font-size: 1.2rem;
    color: var(--logo-color);
}
/*Lets add social link styles*/
.menu-bar .social-icons {
    text-align: center;
    justify-content: space-between;
}

.menu-bar .social-icons a {
    text-decoration: none;
}

.menu-bar .social-icons .fa-brands {
    margin: 35px 20px;
    font-size: 30px;
    color: var(--logo-color);
    -webkit-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;

}

.menu-bar .social-icons .fa-brands:hover {
    color: var(--logo-color);
}

.social-icons {
    position: absolute;
    bottom: 60px;
    right: 50px;
    text-align: center;
    display: none;
}

.social-icons a{
    text-decoration: none;
}

.social-icons .fa-brands{
    margin:15px 15px;
    font-size: 1.5rem;
    color: #be8c7c;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
}

.social-icons.fa-brands:hover{
    color:var(--logo-color);
}

.icons{
    position: absolute;
    bottom: 60px;
    right: 20px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.icons a{
    text-decoration: none;
    padding-bottom: 10px;

}
.icons .fa-brands{
    display: block;
    font-size: 1.3rem;
    color:#be8c7c;
    margin-bottom: 20px;
    transition: 150ms ease-in-out;
}

.icons .fa-brands:hover{
    color:var(--logo-color);
}
.hero-image {
    position: absolute;
    width:100px;
    height: 100px;
    right:350px;
    bottom: 0;
    transform-style: preserve-3d;
    /*display: none;*/
    top:150px;
    animation: hero 20s linear infinite;
}

@keyframes hero {
    0%{
        transform:perspective(2000px) rotateY(0deg);
    }
    100%{
        transform:perspective(2000px) rotateY(360deg);
    }
}

.hero-image span{
    position:absolute;
    top:0;
    left:0px;
    right:0;
    width:100px;
    height:100px;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--img)*45deg)) translateZ(300px);
    -webkit-box-reflect: below 3px linear-gradient(transparent,transparent,#0004);
}

.hero-image span img{
    position:absolute;
    top:0;
    left:0;
    width:200px;
    height:200px;
    object-fit: cover;

}

.resume {
    display: none;
    background-size: auto;
    padding: 10px 10px;
    cursor: pointer;
    float: right;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--logo-color);
    border: 1px solid var(--logo-color);
    transition: all 0.3s ease-in-out;
}

.resume:hover {
    color: var(--body-color);
    background-color: var(--logo-color);
    transform: scale(1.1);

}

.hero-image img{
    display: block;

}
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*Lets start the About Section Styles*/

.about-section {
    width: 85%;
    margin: 30px 25px 30px 25px;
}
.self-discovery .about {
    font-size: 70px;
    color: #464545;
}
.myself {
    width: 329px;

    font-size: 35px;
    font-weight: bold;
    letter-spacing: 3px;
    display: flex;
    text-align: left;
    position: relative;
    margin-top: 30px;
    margin-left: 80px;
    color: var(--logo-color);
}
.myself::before {
    content: "";
    width: 350px;
    height: 2px;
    background: var(--logo-color);
    position: absolute;
    bottom: 0;
    left: -380px;
    display: none;
}
.myself::after {
    content: "";
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--logo-color);
    position: absolute;
    bottom: 0;
    left: -380px;
    display: none;
}

.animate.myself::after {
    animation: ball 20s ease-in-out infinite alternate;
    -webkit-animation: ball 20s ease-in-out infinite alternate;
    -o-animation: ball 20s ease-in-out infinite alternate;
}
@keyframes ball {
    0% {
        transform: translateX(0);
    }
    50% {
        z-index: -999;
    }
    100% {
        transform: translateX(325px);
    }
}


.content1 p {
    width: 60%;
    font-size: 20px;
    color: #9f9d9d;
    font-weight: 300;
    font-family: "Roboto Thin";
    line-height: 2.5rem;
    text-align: justify;
}
.para1 {
    position: relative;
    margin-top: 30px;
    margin-bottom: 35px;
    text-align: justify;
}
/*.para1 img {
    width: 150px;
    height: auto;
    filter: opacity(0.3);
    transform: rotate(-45deg);
    top: -80px;
    right: 20px;
    display: none;
    position: absolute;
}*/
.content2 {
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
}

@media screen and (min-width: 1024px) {
    header {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
    }

    .nav-bar {
        max-width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
    }

    .menu-bar {
        height: auto !important;
    }

    ul.menu-items {
        display: flex;
        height: auto;
    }

    ul.menu-items li {
        width: 125px;


    }

    .social-icons {
        text-align: center;

    }

    .icons{
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }
    .icons .fa-brands:hover {
        color: var(--logo-color);
    }

    .resume {
        display: flex;
    }

    .nav-toggle {
        display: none;

    }

    /*Hero Section*/
    .home {
        position: relative;
    }

    .container {
        width: 100%;
        margin:  150px 0px 50px 0px;
        display: flex;
        align-items: center;

    }

    .about {
        font-family: 'Righteous', sans-serif;
        magin-bottom: 800px;
        margin-left: 30px;
    }

    .about h2 {
        width: 200px;
        font-size: 40px;
        letter-spacing: 10px;
        color: #c46e33;
        margin-top: 10px;

    }

    .about #name {
        font-family: 'Bungee Spice', cursive;
        font-size: 50px;
        letter-spacing: 10px;
        margin-top: 20px;
        padding: 20px 20px 20px 0;
    }

    .about #job {
        font-size: 2rem;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 3px;
        margin-top: 5px;
        padding: 5px 20px 20px 0;
    }

    .about #quote {
        color: #ad9251;
        /* margin-top: 20px;*/
        font-size: 20px;
        letter-spacing: 2px;
        font-family: 'Anton', "Segoe Print";
    }


    /*get in touch button styles*/
    .contact-btn {
        text-decoration: none;
        text-align: center;
        margin: 16px 0px 50px 0px;
        color: var(--logo-color);
        display: block;
        align-items: center;
        text-transform: uppercase;
        position: relative;
        letter-spacing: 3px;
        width: fit-content;
        text-align: center;

    }

    .contact-btn div {
        position: relative;
        width: fit-content;
        overflow: hidden;
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;

    }

    .contact-btn div:hover {
        transform: scale(0.9);
        background: var(--logo-color);

    }

    .contact-btn div span.background {
        background: #be8c7c;
        background-position: center;
        position: absolute;
        width: fit-content;
        left: -5%;
        top: 0px;
        right: 0px;
        bottom: 0;
        -webkit-transition: 0.3s all ease-in-out;
        -o-transition: 0.3s all ease-in-out;
        transition: 0.3s all ease-in-out;
        -webkit-transform: skewX(-19deg);
        -ms-transform: skewX(-19deg);
        transform: skewX(-19deg);

    }

    .contact-btn:hover div span.background {
        width: fit-content;

    }

    .contact-btn span.base {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        position: absolute;
        width: fit-content;
        left: 0;
    }

    .contact-btn .text {
        padding: 10px 10px 10px 10px;
        width: fit-content;
        text-align: center;
        border-style: solid;
        top: 0;
        left: 0;
        right: 0;
        position: relative;
        font-weight: bold;
        align-items: center;
        font-family: "Poppins", sans-serif;
        text-align: center;
        border: 1px solid var(--logo-color);
    }

    .contact-btn:hover div.text {
        color: black;
    }

}

/*=============================New Skill Styles=================================*/
.container-skill{
    position: relative;
    width:500px;
    height:500px;
    border: 2px solid #c46e33;
    border-radius:50%;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 80px;
    margin-left:80px;
    display: inline-block;
    min-height: 100px;
}

.container-skill .icon-skill{
    position: relative;
    left:-50%;
    bottom: -40%;
    right:50%;
    width: 100%;
    height: 100px;
    display:flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;

}

.container-skill .icon-skill .imgBx{
    position: absolute;
    width: 90px;
    height:90px;
    border-radius: 50%;
    transition:0.5s;
    border:1px solid white;
    box-shadow: 0 0 0 4px #222, 0 0 0 6px white;
    transform:rotate(calc(360deg/8 * var(--i)));
    transform-origin: 300px;
    z-index: 100;
    overflow: hidden;
}

.container-skill .icon-skill .imgBx.active{
    box-shadow: 0 0 0 4px #222, 0 0 0 12px #e55f25;
}

.container-skill .icon-skill .imgBx img{
    position: absolute;
    top: 0;
    left:0;
    width:100%;
    border-radius: 50%;
    object-fit: cover;
    transform: rotate(calc(-360deg/8 * var(--i)));
    transition: .5s;
    filter: grayscale(0.99);
}

.container-skill .icon-skill .imgBx.active img{
    filter: grayscale(0);
}

.content-skill{
    position: absolute;
    inset: 0;
    overflow: hidden;
    display: grid;
    place-items: center;
    justify-content: center;
    align-items: center;

}

.content-skill::before{
    content:'';
    position:absolute;
    inset: 60px;
    border: 4px solid transparent;
    border-left: 4px solid #f10e15;
    border-right: 4px solid #c46e33;
    border-radius: 50%;
    animation: animate_01 5s linear infinite;
    z-index: 1;
    pointer-events: none;
}

@keyframes animate_01 {
    0%{
        rotate: 0deg;
    }

    100%{
        rotate: 360deg;
    }
}

.content-skill::after{
    content:'';
    position:absolute;
    inset: 120px;
    border: 4px solid transparent;
    border-left: 4px solid #dcbb18;
    border-right: 4px solid #c46e33;
    border-radius: 50%;
    animation: animate_02 2.5s linear infinite;
    z-index: 1;
    pointer-events: none;
}

@keyframes animate_02 {
    0%{
        rotate: 360deg;
    }

    100%{
        rotate: 0deg;
    }
}

.contentBx{
    position: absolute;
    transform: scale(0);
    transition: 1s;
    opacity:0;
    display:flex;
    justify-content: left;
    align-items: center;
}

.contentBx.active{
    transform: scale(1);
    opacity: 1;
    transition-delay:0.5s;
}

.contentBx .card{
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.contentBx .card .imgBx{
    position: absolute;
    width: 150px;
    height:150px;
    border-radius: 10px;
    overflow: hidden;
}
.contentBx .card .imgBx .crd{
    position: relative;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit: cover;
}

.contentBx .card .textBx{
    display: flex;
    justify-content: center;
    margin-top: 200px;
    flex-direction: column;

}

.contentBx .card .textBx h2{
    position: relative;
    font-size: 1.25em;
    font-weight: 600;
    color: #ffffff;
    line-height: 3px;
    text-transform: uppercase;

}

/*Quote Styles*/
.cursor-skill {
    position: relative;
    background-color: rgba(140, 120, 120, 0.3);
    border-radius: 0.4rem;
    width: 1.2rem;
    aspect-ratio: 1;
    pointer-events: visible;
}

.quote-block {
    position: absolute;
    width: 300px;
    height: 500px;
    display: grid;
    font-family: 'Dancing Script',cursive;
    place-items: self-end;
    color: rgb(245, 53, 10);
    float: right;
    margin-top: 100px;
    left: 900px;



}
.container-skill, .quote-block{
    display: inline-block;

}

.quote-block .poster {
    box-shadow: 0 0 0 0.3rem rgba(255, 255, 255, 0.01), 0 0 0 0.6rem rgba(255, 255, 255, 0.02), 0 0 0 0.9rem rgba(255, 255, 255, 0.03);
    transition: 300ms ease;
    background-color: rgba(208, 133, 133, 0.07);
    border-radius: 4rem 0;
    display: grid;
    place-items: center;
    text-align: center;
    width: clamp(300px, 60vmin, 66vh);
    height: clamp(500px, 60vmin, 80vh);
    padding: 3rem 4rem;
}
.quote-block .poster:has(.quote:hover) {
    box-shadow: 0 0 0 0.8rem rgba(255, 255, 255, 0.01), 0 0 0 1.6rem rgba(255, 255, 255, 0.02), 0 0 0 2.4rem rgba(255, 255, 255, 0.03);
}
.quote-block .poster:has(.quote:hover) .quote {
    color: rgb(224, 190, 23);
}
.quote-block .poster:has(.quote:hover) .quote span {
    color: rgb(245, 202, 3);
}
.quote-block .poster:has(.quote:hover) .name {
    color: rgb(234, 195, 0);
}
.quote-block .poster .quote {
    font-size: 3rem;
    text-shadow: 0 0 #f30707, 0 0 #f3c704;

}
.quote-block .poster .quote, .quote-block .poster .quote span {
    transition: 9s ease-in-out;
}
.quote-block .poster .name {
    font-size: 35px;
    font-weight: 500;
    transition: 9s  ease;
}
.quote-block .poster .name:before {
    content: "- ";
}
/*===============================Education Section===============================================================================================================*/
.education-section .about {
    font-size: 70px;
    color: #464545;
}

.education-section .myself{
    width: 800px;
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 3px;
    display: flex;
    text-align: left;
    position: relative;
    margin-top: 30px;
    margin-left: 80px;
    color: var(--logo-color);
}

.timeline {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    position: relative;
}
.timeline__event {
    margin-bottom: 20px;
    position: relative;
    display: flex;
    margin: 20px 0;
    border-radius: 50px;
    align-self: center;
    width: 50vw;
}
.timeline__event:nth-child(2n+1) {
    flex-direction: row-reverse;
}
.timeline__event:nth-child(2n+1) .timeline__event__date {
    border-radius: 50px ;
}
.timeline__event:nth-child(2n+1) .timeline__event__content {
    border-radius: 50px;
}
.timeline__event:nth-child(2n+1) .timeline__event__icon:before {
    content: "";
    width: 2px;
    height: 100%;
    background: #464045;
    position: absolute;
    top: 0%;
    left: 50%;
    right: auto;
    z-index: -1;
    transform: translateX(-50%);
    -webkit-animation: fillTop 2s forwards 4s ease-in-out;
    animation: fillTop 2s forwards 4s ease-in-out;
}
.timeline__event:nth-child(2n+1) .timeline__event__icon:after {
    content: "";
    width: 100%;
    height: 2px;
    background: #464045;
    position: absolute;
    right: 0;
    z-index: -1;
    top: 50%;
    left: auto;
    transform: translateY(-50%);
    -webkit-animation: fillLeft 2s forwards 4s ease-in-out;
    animation: fillLeft 2s forwards 4s ease-in-out;
}
.timeline__event__title {
    font-size: 1.2rem;
    line-height: 1.4;
    text-transform: uppercase;
    font-weight: 600;
    color: #555ac0;
    letter-spacing: 1.5px;
}
.timeline__event__content {
    padding: 20px;
    box-shadow: 0 30px 60px -12px rgba(84, 69, 58, 0.25), 0 18px 36px -18px rgba(89, 64, 64, 0.3), 0 -12px 36px -8px rgba(70, 68, 69, 0.67);
    background: #f3ddac;
    width: calc(40vw - 100px);
    border-radius: 50px;
}
.timeline__event__date {
    color: #ff3531;
    font-size: 1.5rem;
    font-weight: 600;
    background: #464045;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    padding: 0 20px;
    border-radius: 50px;
}
.timeline__event__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #555ac0;
    padding: 20px;
    align-self: center;
    margin: 0 20px;
    background: #464045;
    border-radius: 50%;
    width: 40px;
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25), 0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
    padding: 40px;
    height: 40px;
    position: relative;
}
.timeline__event__icon i {
    font-size: 32px;
}
.timeline__event__icon:before {
    content: "";
    width: 2px;
    height: 100%;
    background: #464045;
    position: absolute;
    top: 0%;
    z-index: -1;
    left: 50%;
    transform: translateX(-50%);
    -webkit-animation: fillTop 2s forwards 4s ease-in-out;
    animation: fillTop 2s forwards 4s ease-in-out;
}
.timeline__event__icon:after {
    content: "";
    width: 50%;
    height: 2px;
    background:#464045;
    position: absolute;
    left: 0%;
    z-index: -1;
    top: 50%;
    transform: translateY(-50%);
    -webkit-animation: fillLeftOdd 2s forwards 4s ease-in-out;
    animation: fillLeftOdd 2s forwards 4s ease-in-out;
}
.timeline__event__description {
    flex-basis: 60%;
}
.timeline__event--type2:after {
    background: #464045;
}
.timeline__event--type2 .timeline__event__date {
    color: #ff3531;
    background: #464045;
}
.timeline__event--type2:nth-child(2n+1) .timeline__event__icon:before, .timeline__event--type2:nth-child(2n+1) .timeline__event__icon:after {
    background: #555ac0;
}
.timeline__event--type2 .timeline__event__icon {
    background: #464045;
    color:#555ac0;
}
.timeline__event--type2 .timeline__event__icon:before, .timeline__event--type2 .timeline__event__icon:after {
    background:#555ac0;
    color:#555ac0;
}
.timeline__event--type2 .timeline__event__title {
    color: #555ac0;
}
.timeline__event--type3:after {
    background: #464045;
}
.timeline__event--type3 .timeline__event__date {
    color: #ff3531;
    background-color:#464045;
}
.timeline__event--type3:nth-child(2n+1) .timeline__event__icon:before, .timeline__event--type3:nth-child(2n+1) .timeline__event__icon:after {
    background: #555ac0;
}
.timeline__event--type3 .timeline__event__icon {
    background: #464045;
    color: #555ac0;
}
.timeline__event--type3 .timeline__event__icon:before, .timeline__event--type3 .timeline__event__icon:after {
    background: #aff1b6;
}
.timeline__event--type3 .timeline__event__title {
    color: #24b47e;

}
.timeline__event:last-child .timeline__event__icon:before {
    content: none;
}

@media (max-width: 786px) {
    .timeline__event {
        flex-direction: column;
        align-self: center;
    }
    .timeline__event__content {
        width: 100%;
    }
    .timeline__event__icon {
        border-radius: 50px;
        width: 100%;
        margin: 0;
        box-shadow: none;
    }
    .timeline__event__icon:before, .timeline__event__icon:after {
        display: none;
        color: #555ac0;
    }
    .timeline__event__date {
        border-radius: 50px;
        padding: 20px;
    }
    .timeline__event:nth-child(2n+1) {
        flex-direction: column;
        align-self: center;
    }
    .timeline__event:nth-child(2n+1) .timeline__event__date {
        border-radius: 50px;
        padding: 20px;
    }
    .timeline__event:nth-child(2n+1) .timeline__event__icon {
        border-radius: 50px;
        margin: 0;
    }
}
@-webkit-keyframes fillLeft {
    100% {
        right: 100%;
        color: #24b47e;
    }
}
@keyframes fillLeft {
    100% {
        right: 100%;
        color: #24b47e;
    }
}
@-webkit-keyframes fillTop {
    100% {
        top: 100%;
        color: #24b47e;
    }
}
@keyframes fillTop {
    100% {
        top: 100%;
        color: #24b47e;
    }
}
@-webkit-keyframes fillLeftOdd {
    100% {
        left: 100%;
        color: #24b47e;
    }
}
@keyframes fillLeftOdd {
    100% {
        left: 100%;
        color: #24b47e;
    }
}

/*===================================================================================*/
/*---------------------------------Project Section-----------------------------------*/
.projects-section .about {
    font-size: 70px;
    color: #464545;
}

.projects-section .myself{
    width: 800px;
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 3px;
    display: flex;
    text-align: left;
    position: relative;
    margin-top: 30px;
    margin-left: 80px;
    color: var(--logo-color);
}

.projects-section{
    min-height: 100vh;
    background: transparent;
    padding-bottom: 100px;
    pointer-events: bounding-box;
    margin-top: 100px;
    text-transform: capitalize;
    transition: all .2s cubic-bezier(.34,1.12,.68,1.31);

}

.projects-section .controls{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px 0;
    list-style: none;
    margin-top: 40px;
}

.projects-section .controls .buttonsP{
    display: inline-block;
    width: 150px;
    padding: 20px 20px;
    margin: 5px 5px;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--logo-color);
    border: 1px solid var(--logo-color);
    transition: all 0.3s ease-in-out;
}

.projects-section .controls .buttonsP.act{
    background: coral;
    color: white;
}

.projects-section .image-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;

}

.projects-section .image-container .imageP{
    height: 250px;
    width: 250px;
    overflow: hidden;
    border: 10px solid  rgba(208, 133, 133, 0.07);
    border-radius: 0 50px 0 0;
    box-shadow: 0 3px 5px rgba(0,0,0,.3);
    margin:10px;
    position: relative;
}

.projects-section .image-container .imageP img{
    height: 250px;
    width: 250px;
    object-fit: cover;

}

.projects-section .image-container .imageP:hover img{
    transform: scale(1.4);
}

.projects-section .image-container .imageP .view .txt{
    font-size: 20px;
    position: absolute;
    top:0;
    left:0;
    opacity:0.6;
    background: grey;
    display: flex;
    width:230px;
    height:230px;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    color: #f11010;
    border-radius: 0 40px 0 0;

}

.projects-section .image-container .imageP .view .txt h3{
    margin-bottom: 10px;
    text-align: center;
}

.projects-section .image-container .imageP .view .visit{
    width:200px;
    height:50px;
    border: 2px solid #055b3c;
    font-size: 20px;
    position: absolute;
    bottom:0;
    left:15px;
    right:15px;
    opacity:0.7;
    background: grey;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: block;
    color: #055b3c;

}

/*============================================================================================================================*/